@import "tailwindcss";
@plugin "daisyui" {
  /* https://daisyui.com/docs/themes/#list-of-themes */
  themes: emerald --default, dim --preferdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
